### Este arquivo servirá como base para as transformações na etapa de ETL

#### Leitura dos dados

In [89]:
import pandas as pd

In [90]:
dfRaw = pd.read_csv("https://raw.githubusercontent.com/FelipeMMMendes/Projeto-Data-WareHouse/main/data/Base%20table/raw_data.csv",delimiter=";")

In [91]:
dfRaw.head()

,Sigla ICAO Empresa Aérea,Número Voo,Código DI,Código Tipo Linha,Sigla ICAO Aeroporto Origem,Partida Prevista,Partida Real,Sigla ICAO Aeroporto Destino,Chegada Prevista,Chegada Real,Situação Voo
0,AAL,904,0,I,SBGL,01/10/2023 23:00,01/10/2023 22:49,KMIA,02/10/2023 07:42,02/10/2023 06:47,REALIZADO
1,AAL,905,0,I,KMIA,01/10/2023 23:52,01/10/2023 23:58,SBGL,02/10/2023 08:05,02/10/2023 08:02,REALIZADO
2,AAL,906,0,I,SBGR,01/10/2023 23:15,01/10/2023 23:08,KMIA,02/10/2023 07:47,02/10/2023 07:14,REALIZADO
3,AAL,929,0,I,KMIA,01/10/2023 20:53,01/10/2023 20:52,SBGR,02/10/2023 05:15,02/10/2023 05:10,REALIZADO
4,AAL,930,0,I,SBGR,01/10/2023 21:25,01/10/2023 21:21,KMIA,02/10/2023 06:00,02/10/2023 05:21,REALIZADO

In [92]:
dfRaw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82820 entries, 0 to 82819
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Sigla ICAO Empresa Aérea      82820 non-null  object
 1   Número Voo                    82820 non-null  object
 2   Código DI                     82820 non-null  object
 3   Código Tipo Linha             82820 non-null  object
 4   Sigla ICAO Aeroporto Origem   82820 non-null  object
 5   Partida Prevista              79462 non-null  object
 6   Partida Real                  76825 non-null  object
 7   Sigla ICAO Aeroporto Destino  82820 non-null  object
 8   Chegada Prevista              79462 non-null  object
 9   Chegada Real                  76826 non-null  object
 10  Situação Voo                  82820 non-null  object
dtypes: object(11)
memory usage: 7.0+ MB

In [109]:
#convertendo as colunas de partida e chegada para datetime
dfRaw['Partida Prevista'] = pd.to_datetime(dfRaw['Partida Prevista'], format='%d/%m/%Y %H:%M')
dfRaw['Partida Real'] = pd.to_datetime(dfRaw['Partida Prevista'], format='%d/%m/%Y %H:%M')
dfRaw['Chegada Prevista'] = pd.to_datetime(dfRaw['Chegada Prevista'], format='%d/%m/%Y %H:%M')
dfRaw['Chegada Real'] = pd.to_datetime(dfRaw['Chegada Real'], format='%d/%m/%Y %H:%M')

In [110]:
dfRaw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82820 entries, 0 to 82819
Data columns (total 20 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Sigla ICAO Empresa Aérea      82820 non-null  object
 1   Número Voo                    82820 non-null  object
 2   Código DI                     82820 non-null  object
 3   Código Tipo Linha             82820 non-null  object
 4   Sigla ICAO Aeroporto Origem   82820 non-null  object
 5   Partida Prevista              79462 non-null  datetime64[ns]
 6   Partida Real                  79462 non-null  datetime64[ns]
 7   Sigla ICAO Aeroporto Destino  82820 non-null  object
 8   Chegada Prevista              79462 non-null  datetime64[ns]
 9   Chegada Real                  76826 non-null  datetime64[ns]
 10  Situação Voo                  82820 non-null  object
 11  dia partida prevista          79462 non-null  float64
 12  mes partida prevista          79462 non-null  float64
 13  ano partida prevista          79462 non-null  float64
 14  horario partida prevista      79462 non-null  object
 15  dia partida real              76825 non-null  float64
 16  mes partida real              76825 non-null  float64
 17  ano partida real              76825 non-null  float64
 18  horario partida real          76825 non-null  object
 19  SLA                           73468 non-null  timedelta64[ns]
dtypes: datetime64[ns](4), float64(6), object(9), timedelta64[ns](1)
memory usage: 12.6+ MB

In [ ]:
#criando um identificador para cada voo
#eh um codigo no formato
# dois digitos do mês + dia + numero voo

In [ ]:
#criar também uma coluna de calculo de SLA,
#se o horario da partida real tiver sido mais tarde do que o horario da partida prevista, fazer a diferença e contabilizar no SLA
#fazendo a diferença entre horario da partida real - horario da partida prevista
#depois tirar a media