### Este arquivo servirá como base para as transformações na etapa de ETL

#### Leitura dos dados

In [46]:
import pandas as pd
import numpy as np

In [33]:
dfRaw = pd.read_csv("https://raw.githubusercontent.com/FelipeMMMendes/Projeto-Data-WareHouse/main/data/Base%20table/raw_data.csv",delimiter=";")

In [34]:
dfRaw.head()

,Sigla ICAO Empresa Aérea,Número Voo,Código DI,Código Tipo Linha,Sigla ICAO Aeroporto Origem,Partida Prevista,Partida Real,Sigla ICAO Aeroporto Destino,Chegada Prevista,Chegada Real,Situação Voo
0,AAL,904,0,I,SBGL,01/10/2023 23:00,01/10/2023 22:49,KMIA,02/10/2023 07:42,02/10/2023 06:47,REALIZADO
1,AAL,905,0,I,KMIA,01/10/2023 23:52,01/10/2023 23:58,SBGL,02/10/2023 08:05,02/10/2023 08:02,REALIZADO
2,AAL,906,0,I,SBGR,01/10/2023 23:15,01/10/2023 23:08,KMIA,02/10/2023 07:47,02/10/2023 07:14,REALIZADO
3,AAL,929,0,I,KMIA,01/10/2023 20:53,01/10/2023 20:52,SBGR,02/10/2023 05:15,02/10/2023 05:10,REALIZADO
4,AAL,930,0,I,SBGR,01/10/2023 21:25,01/10/2023 21:21,KMIA,02/10/2023 06:00,02/10/2023 05:21,REALIZADO

In [35]:
dfRaw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82820 entries, 0 to 82819
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Sigla ICAO Empresa Aérea      82820 non-null  object
 1   Número Voo                    82820 non-null  object
 2   Código DI                     82820 non-null  object
 3   Código Tipo Linha             82820 non-null  object
 4   Sigla ICAO Aeroporto Origem   82820 non-null  object
 5   Partida Prevista              79462 non-null  object
 6   Partida Real                  76825 non-null  object
 7   Sigla ICAO Aeroporto Destino  82820 non-null  object
 8   Chegada Prevista              79462 non-null  object
 9   Chegada Real                  76826 non-null  object
 10  Situação Voo                  82820 non-null  object
dtypes: object(11)
memory usage: 7.0+ MB

In [36]:
#convertendo as colunas de partida e chegada para datetime
dfRaw['Partida Prevista'] = pd.to_datetime(dfRaw['Partida Prevista'], format='%d/%m/%Y %H:%M')
dfRaw['Partida Real'] = pd.to_datetime(dfRaw['Partida Real'], format='%d/%m/%Y %H:%M')
dfRaw['Chegada Prevista'] = pd.to_datetime(dfRaw['Chegada Prevista'], format='%d/%m/%Y %H:%M')
dfRaw['Chegada Real'] = pd.to_datetime(dfRaw['Chegada Real'], format='%d/%m/%Y %H:%M')

In [37]:
dfRaw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82820 entries, 0 to 82819
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Sigla ICAO Empresa Aérea      82820 non-null  object
 1   Número Voo                    82820 non-null  object
 2   Código DI                     82820 non-null  object
 3   Código Tipo Linha             82820 non-null  object
 4   Sigla ICAO Aeroporto Origem   82820 non-null  object
 5   Partida Prevista              79462 non-null  datetime64[ns]
 6   Partida Real                  76825 non-null  datetime64[ns]
 7   Sigla ICAO Aeroporto Destino  82820 non-null  object
 8   Chegada Prevista              79462 non-null  datetime64[ns]
 9   Chegada Real                  76826 non-null  datetime64[ns]
 10  Situação Voo                  82820 non-null  object
dtypes: datetime64[ns](4), object(7)
memory usage: 7.0+ MB

In [38]:
#criando um identificador para cada voo
#eh um codigo no formato
# dois digitos do mês prevosto + dia previsto + numero voo
dfRaw['codigo id voo'] = dfRaw['Partida Prevista'].dt.month.astype(str) + dfRaw['Partida Prevista'].dt.day.astype(str) + dfRaw['Número Voo'].astype(str)

In [39]:
dfRaw.head()

,Sigla ICAO Empresa Aérea,Número Voo,Código DI,Código Tipo Linha,Sigla ICAO Aeroporto Origem,Partida Prevista,Partida Real,Sigla ICAO Aeroporto Destino,Chegada Prevista,Chegada Real,Situação Voo,codigo id voo
0,AAL,904,0,I,SBGL,2023-10-01 23:00:00,2023-10-01 22:49:00,KMIA,2023-10-02 07:42:00,2023-10-02 06:47:00,REALIZADO,10.01.0904
1,AAL,905,0,I,KMIA,2023-10-01 23:52:00,2023-10-01 23:58:00,SBGL,2023-10-02 08:05:00,2023-10-02 08:02:00,REALIZADO,10.01.0905
2,AAL,906,0,I,SBGR,2023-10-01 23:15:00,2023-10-01 23:08:00,KMIA,2023-10-02 07:47:00,2023-10-02 07:14:00,REALIZADO,10.01.0906
3,AAL,929,0,I,KMIA,2023-10-01 20:53:00,2023-10-01 20:52:00,SBGR,2023-10-02 05:15:00,2023-10-02 05:10:00,REALIZADO,10.01.0929
4,AAL,930,0,I,SBGR,2023-10-01 21:25:00,2023-10-01 21:21:00,KMIA,2023-10-02 06:00:00,2023-10-02 05:21:00,REALIZADO,10.01.0930

In [47]:
#criar também uma coluna de calculo de SLA,
#se o horario da partida real tiver sido mais tarde do que o horario da partida prevista, fazer a diferença e contabilizar no SLA
#fazendo a diferença entre horario da partida real - horario da partida prevista
#depois tirar a media


slaList = []  # Lista para armazenar as diferenças ou NaN

# Loop para percorrer todo o DataFrame utilizando iterrows
for index, row in dfRaw.iterrows():
    # Compara as datas
    if row['Partida Real'] > row['Partida Prevista']:
        slaList.append(row['Partida Real'] - row['Partida Prevista'])
    else:
        slaList.append(np.nan)  # Utilize np.nan para representar NaN no pandas

# Adiciona a lista ao DataFrame como uma nova coluna 'SLA'
dfRaw['SLA'] = slaList

In [48]:
dfRaw.head()

,Sigla ICAO Empresa Aérea,Número Voo,Código DI,Código Tipo Linha,Sigla ICAO Aeroporto Origem,Partida Prevista,Partida Real,Sigla ICAO Aeroporto Destino,Chegada Prevista,Chegada Real,Situação Voo,codigo id voo,SLA
0,AAL,904,0,I,SBGL,2023-10-01 23:00:00,2023-10-01 22:49:00,KMIA,2023-10-02 07:42:00,2023-10-02 06:47:00,REALIZADO,10.01.0904,NaT
1,AAL,905,0,I,KMIA,2023-10-01 23:52:00,2023-10-01 23:58:00,SBGL,2023-10-02 08:05:00,2023-10-02 08:02:00,REALIZADO,10.01.0905,0 days 00:06:00
2,AAL,906,0,I,SBGR,2023-10-01 23:15:00,2023-10-01 23:08:00,KMIA,2023-10-02 07:47:00,2023-10-02 07:14:00,REALIZADO,10.01.0906,NaT
3,AAL,929,0,I,KMIA,2023-10-01 20:53:00,2023-10-01 20:52:00,SBGR,2023-10-02 05:15:00,2023-10-02 05:10:00,REALIZADO,10.01.0929,NaT
4,AAL,930,0,I,SBGR,2023-10-01 21:25:00,2023-10-01 21:21:00,KMIA,2023-10-02 06:00:00,2023-10-02 05:21:00,REALIZADO,10.01.0930,NaT

In [50]:
#verificando a existencia de outliers
dfRaw['SLA'].describe()

count                        35848
mean     0 days 00:32:22.004574871
std      0 days 01:19:32.563518053
min                0 days 00:01:00
25%                0 days 00:06:00
50%                0 days 00:15:00
75%                0 days 00:33:00
max                3 days 00:11:00
Name: SLA, dtype: object

In [55]:
#Colocando limite de 2 horas
limite_diferenca = pd.Timedelta(hours=2)

# Filtra as linhas onde a diferença é menor ou igual ao limite
dfRaw = dfRaw[dfRaw['SLA'] <= limite_diferenca]

dfRaw['SLA'].describe()

count                        34388
mean     0 days 00:21:56.061998371
std      0 days 00:22:25.142144860
min                0 days 00:01:00
25%                0 days 00:06:00
50%                0 days 00:14:00
75%                0 days 00:29:00
max                0 days 02:00:00
Name: SLA, dtype: object